DB_ENGINE=postgresql
DB_NAME=sdi
DB_USER=postgres
DB_PASSWORD=cambiar_password
DB_HOST=127.0.0.1
DB_PORT=5432
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_COMPRAS_QUEUE=compras.stock
APP_NAME=SDI
LOG_LEVEL=INFO
